<!-- side-panel.component.html -->
<div class="side-panel">
    <div class="panel-item">
        <strong>You  ></strong>
        
      </div>
    <div class="panel-item">
      <img src="./assets/image/home.png" alt="Home">
      <span>Home</span>
    </div>
    <div class="panel-item">
      <img src="./assets/image/login.jpeg" alt="Login">
      <span>Login</span>
    </div>
    <div class="panel-item">
      <img src="./assets/image/notification.png" alt="Notification">
      <span>Notification</span>
    </div>
    <div class="panel-item">
      <img src="./assets/image/share.png" alt="Share">
      <span>Share</span>
    </div>
    <div class="panel-item">
      <img src="./assets/image/history.jpeg" alt="History">
      <span>History</span>
    </div>
    <div class="panel-item">
      <img src="./assets/image/watchllater.png" alt="Watch Later">
      <span>Watch Later</span>
    </div>
    <div class="panel-item">
      <img src="./assets/image/like.png" alt="Liked Videos">
      <span>Liked Videos</span>
    </div>
    <hr />
    <div class="panel-item">
        <strong>Explore</strong>   
      </div>
      <div class="panel-item">
        <img src="./assets/image/film.png" alt="Liked Videos">
        <span>Film</span>
      </div>
      <div class="panel-item">
        <img src="./assets/image/music.jpeg" alt="Liked Videos">
        <span>Music</span>
      </div>
      <div class="panel-item">
        <img src="./assets/image/live.png" alt="Liked Videos">
        <span>Live</span>
      </div>
      <div class="panel-item">
        <img src="./assets/image/game.png" alt="Liked Videos">
        <span>Gaming</span>
      </div>
      <div class="panel-item">
        <img src="./assets/image/book.png" alt="Liked Videos">
        <span>Learning</span>
      </div>
      <div class="panel-item">
        <img src="./assets/image/sport.png" alt="Liked Videos">
        <span>Sports</span>
      </div>
      <div class="panel-item">
        <img src="./assets/image/news.png" alt="Liked Videos">
        <span>News</span>
      </div>
  </div>
  
