// side-panel.component.scss
.side-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 200px; 
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  
    .section {
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
      
      .section strong {
        display: block;
        margin-bottom: 5px;
      }

    .panel-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      img {
        width: 40px; /* Adjust the size as needed */
        margin-right: 10px;
      }
    }
  }
